/* fileUploaderV2_NamedCredential.css */
.drop-zone {
    border: 2px dashed #dddbda;
    border-radius: 4px;
    padding: 2rem;
    transition: all 0.2s ease-in-out;
    background-color: #fafaf9;
}

.drop-zone:hover {
    border-color: #1589ee;
    background-color: #f3f9ff;
}

.drop-zone.is-drag-over {
    border-color: #1589ee;
    background-color: #f3f9ff;
    transform: scale(1.02);
}
